{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/tableClientTestTokenCredentialnode",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "Prefer": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "P2_node",
        "RowKey": "R2",
        "testField": "2020-09-17T00:00:00.111Z",
        "testField@odata.type": "Edm.DateTime"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://fakeaccount.table.core.windows.net/tableClientTestTokenCredentialnode(PartitionKey=\u0027P2_node\u0027,RowKey=\u0027R2\u0027)",
        "ETag": "W/\u0022datetime\u00272022-01-07T19%3A32%3A58.2070344Z\u0027\u0022",
        "Location": "https://fakeaccount.table.core.windows.net/tableClientTestTokenCredentialnode(PartitionKey=\u0027P2_node\u0027,RowKey=\u0027R2\u0027)",
        "Preference-Applied": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/tableClientTestTokenCredentialnode(PartitionKey=\u0027P2_node\u0027,RowKey=\u0027R2\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272022-01-07T19%3A32%3A58.2070344Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccount.table.core.windows.net/$metadata#tableClientTestTokenCredentialnode/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-01-07T19%3A32%3A58.2070344Z\u0027\u0022",
        "PartitionKey": "P2_node",
        "RowKey": "R2",
        "Timestamp": "2022-01-07T19:32:58.2070344Z",
        "testField@odata.type": "Edm.DateTime",
        "testField": "2020-09-17T00:00:00.111Z"
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/tableClientTestTokenCredentialnode(PartitionKey=\u0027P2_node\u0027,RowKey=\u0027R2\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
