{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/tableClientTestTokenCredentialnode",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "Prefer": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022PartitionKey\u0022:\u0022doubleSci\u0022,\u0022RowKey\u0022:\u00220\u0022,\u0022Value\u0022:\u00221.23456789012346e\u002B24\u0022,\u0022Value@odata.type\u0022:\u0022Edm.Double\u0022}",
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://fakeaccount.table.core.windows.net/tableClientTestTokenCredentialnode(PartitionKey=\u0027doubleSci\u0027,RowKey=\u00270\u0027)",
        "ETag": "W/\u0022datetime\u00272022-01-07T19%3A33%3A02.6315181Z\u0027\u0022",
        "Location": "https://fakeaccount.table.core.windows.net/tableClientTestTokenCredentialnode(PartitionKey=\u0027doubleSci\u0027,RowKey=\u00270\u0027)",
        "Preference-Applied": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/tableClientTestTokenCredentialnode(PartitionKey=\u0027doubleSci\u0027,RowKey=\u00270\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272022-01-07T19%3A33%3A02.6315181Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccount.table.core.windows.net/$metadata#tableClientTestTokenCredentialnode/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-01-07T19%3A33%3A02.6315181Z\u0027\u0022",
        "PartitionKey": "doubleSci",
        "RowKey": "0",
        "Timestamp": "2022-01-07T19:33:02.6315181Z",
        "Value": 1.23456789012346E+24
      }
    }
  ],
  "Variables": {}
}
