{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/tableClientTestTokenCredentialnode",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "Prefer": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "CreateBinary_TokenCredentialnode",
        "RowKey": "second_TokenCredentialnode",
        "binary": "QmFy",
        "binary@odata.type": "Edm.Binary",
        "binaryMetadata": "QmFy",
        "binaryMetadata@odata.type": "Edm.Binary"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://fakeaccount.table.core.windows.net/tableClientTestTokenCredentialnode(PartitionKey=\u0027CreateBinary_TokenCredentialnode\u0027,RowKey=\u0027second_TokenCredentialnode\u0027)",
        "ETag": "W/\u0022datetime\u00272022-01-07T19%3A32%3A56.9877268Z\u0027\u0022",
        "Location": "https://fakeaccount.table.core.windows.net/tableClientTestTokenCredentialnode(PartitionKey=\u0027CreateBinary_TokenCredentialnode\u0027,RowKey=\u0027second_TokenCredentialnode\u0027)",
        "Preference-Applied": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/tableClientTestTokenCredentialnode(PartitionKey=\u0027CreateBinary_TokenCredentialnode\u0027,RowKey=\u0027second_TokenCredentialnode\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272022-01-07T19%3A32%3A56.9877268Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccount.table.core.windows.net/$metadata#tableClientTestTokenCredentialnode/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-01-07T19%3A32%3A56.9877268Z\u0027\u0022",
        "PartitionKey": "CreateBinary_TokenCredentialnode",
        "RowKey": "second_TokenCredentialnode",
        "Timestamp": "2022-01-07T19:32:56.9877268Z",
        "binary@odata.type": "Edm.Binary",
        "binary": "QmFy",
        "binaryMetadata@odata.type": "Edm.Binary",
        "binaryMetadata": "QmFy"
      }
    }
  ],
  "Variables": {}
}
