{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/Tables?sv=2020-08-04\u0026ss=bfqt\u0026srt=sco\u0026sp=rwdlacuptfx\u0026se=2022-09-04T03:03:27Z\u0026st=2021-09-03T19:03:27Z\u0026spr=https\u0026sig=kq7OcqQ80AARZSxGdovmen9lc%2Bvso4Xn3YqscjvMDoM%3D",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "batchTableTestSASConnectionStringnode"
      },
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "TableAlreadyExists",
          "message": {
            "lang": "en-US",
            "value": "The table specified already exists.\nRequestId:c487f89e-7002-00be-4ffd-039434000000\nTime:2022-01-07T19:35:31.2595092Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/batchTableTestSASConnectionStringnode()?sv=2020-08-04\u0026ss=bfqt\u0026srt=sco\u0026sp=rwdlacuptfx\u0026se=2022-09-04T03:03:27Z\u0026st=2021-09-03T19:03:27Z\u0026spr=https\u0026sig=fakeKey\u0026$filter=PartitionKey eq %27multiBatch1%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccount.table.core.windows.net/$metadata#batchTableTestSASConnectionStringnode",
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272022-01-07T19%3A35%3A31.339468Z\u0027\u0022",
            "PartitionKey": "multiBatch1",
            "RowKey": "r1",
            "Timestamp": "2022-01-07T19:35:31.339468Z",
            "value": "1"
          },
          {
            "odata.etag": "W/\u0022datetime\u00272022-01-07T19%3A35%3A31.339468Z\u0027\u0022",
            "PartitionKey": "multiBatch1",
            "RowKey": "r2",
            "Timestamp": "2022-01-07T19:35:31.339468Z",
            "value": "2"
          },
          {
            "odata.etag": "W/\u0022datetime\u00272022-01-07T19%3A35%3A31.339468Z\u0027\u0022",
            "PartitionKey": "multiBatch1",
            "RowKey": "r3",
            "Timestamp": "2022-01-07T19:35:31.339468Z",
            "value": "3"
          },
          {
            "odata.etag": "W/\u0022datetime\u00272022-01-07T19%3A35%3A31.4893802Z\u0027\u0022",
            "PartitionKey": "multiBatch1",
            "RowKey": "r4",
            "Timestamp": "2022-01-07T19:35:31.4893802Z",
            "value": "4"
          },
          {
            "odata.etag": "W/\u0022datetime\u00272022-01-07T19%3A35%3A31.4893802Z\u0027\u0022",
            "PartitionKey": "multiBatch1",
            "RowKey": "r5",
            "Timestamp": "2022-01-07T19:35:31.4893802Z",
            "value": "5"
          },
          {
            "odata.etag": "W/\u0022datetime\u00272022-01-07T19%3A35%3A31.4893802Z\u0027\u0022",
            "PartitionKey": "multiBatch1",
            "RowKey": "r6",
            "Timestamp": "2022-01-07T19:35:31.4893802Z",
            "value": "6"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
