{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/Tables?sv=2020-08-04\u0026ss=bfqt\u0026srt=sco\u0026sp=rwdlacuptfx\u0026se=2022-09-04T03:03:27Z\u0026st=2021-09-03T19:03:27Z\u0026spr=https\u0026sig=kq7OcqQ80AARZSxGdovmen9lc%2Bvso4Xn3YqscjvMDoM%3D",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "batchTableTestSASConnectionStringnode"
      },
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "TableAlreadyExists",
          "message": {
            "lang": "en-US",
            "value": "The table specified already exists.\nRequestId:c487f9f1-7002-00be-03fd-039434000000\nTime:2022-01-07T19:35:31.9211361Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/batchTableTestSASConnectionStringnode(PartitionKey=\u0027\u0027,RowKey=\u0027\u0027)?sv=2020-08-04\u0026ss=bfqt\u0026srt=sco\u0026sp=rwdlacuptfx\u0026se=2022-09-04T03:03:27Z\u0026st=2021-09-03T19:03:27Z\u0026spr=https\u0026sig=kq7OcqQ80AARZSxGdovmen9lc%2Bvso4Xn3YqscjvMDoM%3D",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272022-01-07T19%3A35%3A32.1218064Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccount.table.core.windows.net/$metadata#batchTableTestSASConnectionStringnode/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-01-07T19%3A35%3A32.1218064Z\u0027\u0022",
        "PartitionKey": "",
        "RowKey": "",
        "Timestamp": "2022-01-07T19:35:32.1218064Z",
        "value": "updated"
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/batchTableTestSASConnectionStringnode(PartitionKey=\u0027\u0027,RowKey=\u0027\u0027)?sv=2020-08-04\u0026ss=bfqt\u0026srt=sco\u0026sp=rwdlacuptfx\u0026se=2022-09-04T03:03:27Z\u0026st=2021-09-03T19:03:27Z\u0026spr=https\u0026sig=kq7OcqQ80AARZSxGdovmen9lc%2Bvso4Xn3YqscjvMDoM%3D",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272022-01-07T19%3A35%3A32.3096982Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccount.table.core.windows.net/$metadata#batchTableTestSASConnectionStringnode/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-01-07T19%3A35%3A32.3096982Z\u0027\u0022",
        "PartitionKey": "",
        "RowKey": "",
        "Timestamp": "2022-01-07T19:35:32.3096982Z",
        "value": "upserted"
      }
    }
  ],
  "Variables": {}
}
