{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/Tables?sv=2020-08-04\u0026ss=bfqt\u0026srt=sco\u0026sp=rwdlacuptfx\u0026se=2022-09-04T03:03:27Z\u0026st=2021-09-03T19:03:27Z\u0026spr=https\u0026sig=kq7OcqQ80AARZSxGdovmen9lc%2Bvso4Xn3YqscjvMDoM%3D",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "batchTableTestSASConnectionStringnode"
      },
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "TableAlreadyExists",
          "message": {
            "lang": "en-US",
            "value": "The table specified already exists.\nRequestId:c487f751-7002-00be-17fd-039434000000\nTime:2022-01-07T19:35:30.4349736Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/batchTableTestSASConnectionStringnode()?sv=2020-08-04\u0026ss=bfqt\u0026srt=sco\u0026sp=rwdlacuptfx\u0026se=2022-09-04T03:03:27Z\u0026st=2021-09-03T19:03:27Z\u0026spr=https\u0026sig=fakeKey\u0026$filter=PartitionKey eq %27batchTest%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccount.table.core.windows.net/$metadata#batchTableTestSASConnectionStringnode",
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272022-01-07T19%3A35%3A30.522724Z\u0027\u0022",
            "PartitionKey": "batchTest",
            "RowKey": "1",
            "Timestamp": "2022-01-07T19:35:30.522724Z",
            "name": "upserted"
          },
          {
            "odata.etag": "W/\u0022datetime\u00272022-01-07T19%3A35%3A30.522724Z\u0027\u0022",
            "PartitionKey": "batchTest",
            "RowKey": "2",
            "Timestamp": "2022-01-07T19:35:30.522724Z",
            "name": "upserted"
          },
          {
            "odata.etag": "W/\u0022datetime\u00272022-01-07T19%3A35%3A30.522724Z\u0027\u0022",
            "PartitionKey": "batchTest",
            "RowKey": "3",
            "Timestamp": "2022-01-07T19:35:30.522724Z",
            "name": "upserted"
          },
          {
            "odata.etag": "W/\u0022datetime\u00272022-01-07T19%3A35%3A30.522724Z\u0027\u0022",
            "PartitionKey": "batchTest",
            "RowKey": "4",
            "Timestamp": "2022-01-07T19:35:30.522724Z",
            "name": "upserted"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
