{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/Tables",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccount.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "batchTableTestSASConnectionStringnode"
          },
          {
            "TableName": "batchTableTestTokenCredentialnode"
          },
          {
            "TableName": "byPageTest"
          },
          {
            "TableName": "CreateSimpleEntityBatchPerf"
          },
          {
            "TableName": "createTableNew"
          },
          {
            "TableName": "createTableNew2"
          },
          {
            "TableName": "createTableOld"
          },
          {
   [...]
