{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/Tables?$top=5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-continuation-NextTableName": "1!44!Y3JlYXRldGFibGVuZXcyATAxZDc2NmJjZWE4NGU4YzE-",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccount.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "batchTableTestSASConnectionStringnode"
          },
          {
            "TableName": "batchTableTestTokenCredentialnode"
          },
          {
            "TableName": "byPageTest"
          },
          {
            "TableName": "CreateSimpleEntityBatchPerf"
          },
          {
            "TableName": "createTableNew"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/Tables?$top=5\u0026NextTableName=1!44!Y3JlYXRldGFibGVuZXcyATAxZDc2NmJjZWE4NGU4YzE-",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-continuation-NextTableName": "1!68!ZGVsZXRldGVzdHNhc2Nvbm5lY3Rpb25zdHJpbmdub2RlATAxZDdlNzAwOGNiZDRkNTI-",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccount.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "createTableNew2"
          },
          {
            "TableName": "createTableOld"
          },
          {
            "TableName": "DeleteTestAccountConnectionStringnode"
          },
          {
            "TableName": "DeleteTestAccountKeynode"
          },
          {
            "TableName": "DeleteTestSASConnectionStringbrowser"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/Tables?$top=5\u0026NextTableName=1!68!ZGVsZXRldGVzdHNhc2Nvbm5lY3Rpb25zdHJpbmdub2RlATAxZDdlNzAwOGNiZDRkNTI-",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-continuation-NextTableName": "1!68!ZXhpc3RzYWNjb3VudGNvbm5lY3Rpb25zdHJpbmdub2RlATAxZDdlNjUwOWFmZjBjYTQ-",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccount.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "DeleteTestSASConnectionStringnode"
          },
          {
            "TableName": "DeleteTestSASTokenbrowser"
          },
          {
            "TableName": "DeleteTestSASTokennode"
          },
          {
            "TableName": "DeleteTestTokenCredentialbrowser"
          },
          {
            "TableName": "doublesTest"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/Tables?$top=5\u0026NextTableName=1!68!ZXhpc3RzYWNjb3VudGNvbm5lY3Rpb25zdHJpbmdub2RlATAxZDdlNjUwOWFmZjBjYTQ-",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-continuation-NextTableName": "1!48!ZXhpc3Rzc2FzdG9rZW5ub2RlATAxZDdlNjUwOWU2ZTdjNGE-",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccount.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "existsAccountConnectionStringnode"
          },
          {
            "TableName": "existsAccountKeynode"
          },
          {
            "TableName": "existsSASConnectionStringbrowser"
          },
          {
            "TableName": "existsSASConnectionStringnode"
          },
          {
            "TableName": "existsSASTokenbrowser"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/Tables?$top=5\u0026NextTableName=1!48!ZXhpc3Rzc2FzdG9rZW5ub2RlATAxZDdlNjUwOWU2ZTdjNGE-",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-continuation-NextTableName": "1!68!bGlzdHRhYmxldGVzdHRva2VuY3JlZGVudGlhbG5vZGUxMAEwMWQ4MDNmZDZhN2FkNThh",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccount.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "existsSASTokennode"
          },
          {
            "TableName": "existsTokenCredentialbrowser"
          },
          {
            "TableName": "existsTokenCredentialnode"
          },
          {
            "TableName": "ListTableTestTokenCredentialnode0"
          },
          {
            "TableName": "ListTableTestTokenCredentialnode1"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/Tables?$top=5\u0026NextTableName=1!68!bGlzdHRhYmxldGVzdHRva2VuY3JlZGVudGlhbG5vZGUxMAEwMWQ4MDNmZDZhN2FkNThh",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-continuation-NextTableName": "1!68!bGlzdHRhYmxldGVzdHRva2VuY3JlZGVudGlhbG5vZGUxNQEwMWQ4MDNmZDZhYmRjODJm",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccount.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "ListTableTestTokenCredentialnode10"
          },
          {
            "TableName": "ListTableTestTokenCredentialnode11"
          },
          {
            "TableName": "ListTableTestTokenCredentialnode12"
          },
          {
            "TableName": "ListTableTestTokenCredentialnode13"
          },
          {
            "TableName": "ListTableTestTokenCredentialnode14"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/Tables?$top=5\u0026NextTableName=1!68!bGlzdHRhYmxldGVzdHRva2VuY3JlZGVudGlhbG5vZGUxNQEwMWQ4MDNmZDZhYmRjODJm",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-continuation-NextTableName": "1!68!bGlzdHRhYmxldGVzdHRva2VuY3JlZGVudGlhbG5vZGUyATAxZDgwM2ZkNmEwN2Q5MmQ-",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccount.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "ListTableTestTokenCredentialnode15"
          },
          {
            "TableName": "ListTableTestTokenCredentialnode16"
          },
          {
            "TableName": "ListTableTestTokenCredentialnode17"
          },
          {
            "TableName": "ListTableTestTokenCredentialnode18"
          },
          {
            "TableName": "ListTableTestTokenCredentialnode19"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/Tables?$top=5\u0026NextTableName=1!68!bGlzdHRhYmxldGVzdHRva2VuY3JlZGVudGlhbG5vZGUyATAxZDgwM2ZkNmEwN2Q5MmQ-",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-continuation-NextTableName": "1!68!bGlzdHRhYmxldGVzdHRva2VuY3JlZGVudGlhbG5vZGU3ATAxZDgwM2ZkNmE0YjhmMGQ-",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccount.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "ListTableTestTokenCredentialnode2"
          },
          {
            "TableName": "ListTableTestTokenCredentialnode3"
          },
          {
            "TableName": "ListTableTestTokenCredentialnode4"
          },
          {
            "TableName": "ListTableTestTokenCredentialnode5"
          },
          {
            "TableName": "ListTableTestTokenCredentialnode6"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/Tables?$top=5\u0026NextTableName=1!68!bGlzdHRhYmxldGVzdHRva2VuY3JlZGVudGlhbG5vZGU3ATAxZDgwM2ZkNmE0YjhmMGQ-",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-continuation-NextTableName": "1!36!dGVzdGNoYXJzMgEwMWQ3YThkYWUxMDc0NzY5",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccount.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "ListTableTestTokenCredentialnode7"
          },
          {
            "TableName": "ListTableTestTokenCredentialnode8"
          },
          {
            "TableName": "ListTableTestTokenCredentialnode9"
          },
          {
            "TableName": "manualListByPage"
          },
          {
            "TableName": "TestChars"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/Tables?$top=5\u0026NextTableName=1!36!dGVzdGNoYXJzMgEwMWQ3YThkYWUxMDc0NzY5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccount.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "TestChars2"
          },
          {
            "TableName": "TestChars3"
          },
          {
            "TableName": "testTable"
          },
          {
            "TableName": "TestTestTest"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
