{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/tableClientTestTokenCredentialnode()?$top=5\u0026$filter=PartitionKey eq %27listEntitiesTest%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-continuation-NextPartitionKey": "1!24!bGlzdEVudGl0aWVzVGVzdA--",
        "x-ms-continuation-NextRowKey": "1!4!MTM-",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccount.table.core.windows.net/$metadata#tableClientTestTokenCredentialnode",
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272022-01-07T19%3A32%3A48.9899581Z\u0027\u0022",
            "PartitionKey": "listEntitiesTest",
            "RowKey": "0",
            "Timestamp": "2022-01-07T19:32:48.9899581Z",
            "foo": "testEntity"
          },
          {
            "odata.etag": "W/\u0022datetime\u00272022-01-07T19%3A32%3A49.0709126Z\u0027\u0022",
            "PartitionKey": "listEntitiesTest",
            "RowKey": "1",
            "Timestamp": "2022-01-07T19:32:49.0709126Z",
            "foo": "testEntity"
          },
          {
            "odata.etag": "W/\u0022datetime\u00272022-01-07T19%3A32%3A49.8234888Z\u0027\u0022",
            "PartitionKey": "listEntitiesTest",
            "RowKey": "10",
            "Timestamp": "2022-01-07T19:32:49.8234888Z",
            "foo": "testEntity"
          },
          {
            "odata.etag": "W/\u0022datetime\u00272022-01-07T19%3A32%3A49.9084405Z\u0027\u0022",
            "PartitionKey": "listEntitiesTest",
            "RowKey": "11",
            "Timestamp": "2022-01-07T19:32:49.9084405Z",
            "foo": "testEntity"
          },
          {
            "odata.etag": "W/\u0022datetime\u00272022-01-07T19%3A32%3A49.9863969Z\u0027\u0022",
            "PartitionKey": "listEntitiesTest",
            "RowKey": "12",
            "Timestamp": "2022-01-07T19:32:49.9863969Z",
            "foo": "testEntity"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/tableClientTestTokenCredentialnode()?$top=5\u0026$filter=PartitionKey eq %27listEntitiesTest%27\u0026NextPartitionKey=1!24!bGlzdEVudGl0aWVzVGVzdA--\u0026NextRowKey=1!12!YmluYXJ5MQ--",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccount.table.core.windows.net/$metadata#tableClientTestTokenCredentialnode",
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272022-01-07T19%3A32%3A48.9080045Z\u0027\u0022",
            "PartitionKey": "listEntitiesTest",
            "RowKey": "binary1",
            "Timestamp": "2022-01-07T19:32:48.9080045Z",
            "foo@odata.type": "Edm.Binary",
            "foo": "QmFy"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
