{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/SpecialCharacterTestNode(PartitionKey=\u0027foo%25\u0027,RowKey=\u0027%25bar\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272022-01-07T19%3A32%3A07.7191613Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccount.table.core.windows.net/$metadata#SpecialCharacterTestNode/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-01-07T19%3A32%3A07.7191613Z\u0027\u0022",
        "PartitionKey": "foo%",
        "RowKey": "%bar",
        "Timestamp": "2022-01-07T19:32:07.7191613Z",
        "value": "test%"
      }
    }
  ],
  "Variables": {}
}
