{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/SpecialCharacterTestNodeBatch(PartitionKey=\u0027foo\u0027\u0027\u0027,RowKey=\u0027\u0027\u0027bar\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272022-01-07T19%3A32%3A17.2366958Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccount.table.core.windows.net/$metadata#SpecialCharacterTestNodeBatch/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-01-07T19%3A32%3A17.2366958Z\u0027\u0022",
        "PartitionKey": "foo\u0027",
        "RowKey": "\u0027bar",
        "Timestamp": "2022-01-07T19:32:17.2366958Z",
        "value": "test\u0027"
      }
    }
  ],
  "Variables": {}
}
