{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/SpecialCharacterTestNodeBatch()?$filter=PartitionKey eq %27foo%27%27%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccount.table.core.windows.net/$metadata#SpecialCharacterTestNodeBatch",
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272022-01-07T19%3A32%3A17.2386947Z\u0027\u0022",
            "PartitionKey": "foo\u0027",
            "RowKey": "!bar",
            "Timestamp": "2022-01-07T19:32:17.2386947Z",
            "value": "test!"
          },
          {
            "odata.etag": "W/\u0022datetime\u00272022-01-07T19%3A32%3A17.2366958Z\u0027\u0022",
            "PartitionKey": "foo\u0027",
            "RowKey": "\u0022bar",
            "Timestamp": "2022-01-07T19:32:17.2366958Z",
            "value": "test\u0022"
          },
          {
            "odata.etag": "W/\u0022datetime\u00272022-01-07T19%3A32%3A17.2376953Z\u0027\u0022",
            "PartitionKey": "[...]
