{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/tableClientTestSASConnectionStringnode?sv=2020-08-04\u0026ss=bfqt\u0026srt=sco\u0026sp=rwdlacuptfx\u0026se=2022-09-04T03:03:27Z\u0026st=2021-09-03T19:03:27Z\u0026spr=https\u0026sig=kq7OcqQ80AARZSxGdovmen9lc%2Bvso4Xn3YqscjvMDoM%3D",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "Prefer": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "",
        "RowKey": "",
        "testField": "testEntity"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://fakeaccount.table.core.windows.net/tableClientTestSASConnectionStringnode(PartitionKey=\u0027\u0027,RowKey=\u0027\u0027)",
        "ETag": "W/\u0022datetime\u00272022-01-07T19%3A33%3A09.287732Z\u0027\u0022",
        "Location": "https://fakeaccount.table.core.windows.net/tableClientTestSASConnectionStringnode(PartitionKey=\u0027\u0027,RowKey=\u0027\u0027)",
        "Preference-Applied": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/tableClientTestSASConnectionStringnode(PartitionKey=\u0027\u0027,RowKey=\u0027\u0027)?sv=2020-08-04\u0026ss=bfqt\u0026srt=sco\u0026sp=rwdlacuptfx\u0026se=2022-09-04T03:03:27Z\u0026st=2021-09-03T19:03:27Z\u0026spr=https\u0026sig=kq7OcqQ80AARZSxGdovmen9lc%2Bvso4Xn3YqscjvMDoM%3D",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272022-01-07T19%3A33%3A09.287732Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccount.table.core.windows.net/$metadata#tableClientTestSASConnectionStringnode/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-01-07T19%3A33%3A09.287732Z\u0027\u0022",
        "PartitionKey": "",
        "RowKey": "",
        "Timestamp": "2022-01-07T19:33:09.287732Z",
        "testField": "testEntity"
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/tableClientTestSASConnectionStringnode(PartitionKey=\u0027\u0027,RowKey=\u0027\u0027)?sv=2020-08-04\u0026ss=bfqt\u0026srt=sco\u0026sp=rwdlacuptfx\u0026se=2022-09-04T03:03:27Z\u0026st=2021-09-03T19:03:27Z\u0026spr=https\u0026sig=kq7OcqQ80AARZSxGdovmen9lc%2Bvso4Xn3YqscjvMDoM%3D",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
