{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/tableClientTestSASConnectionStringnode?sv=2020-08-04\u0026ss=bfqt\u0026srt=sco\u0026sp=rwdlacuptfx\u0026se=2022-09-04T03:03:27Z\u0026st=2021-09-03T19:03:27Z\u0026spr=https\u0026sig=kq7OcqQ80AARZSxGdovmen9lc%2Bvso4Xn3YqscjvMDoM%3D",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "Prefer": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022PartitionKey\u0022:\u0022doubleSci\u0022,\u0022RowKey\u0022:\u00220\u0022,\u0022Value\u0022:\u00221.23456789012346e\u002B24\u0022,\u0022Value@odata.type\u0022:\u0022Edm.Double\u0022}",
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://fakeaccount.table.core.windows.net/tableClientTestSASConnectionStringnode(PartitionKey=\u0027doubleSci\u0027,RowKey=\u00270\u0027)",
        "ETag": "W/\u0022datetime\u00272022-01-07T19%3A33%3A13.011615Z\u0027\u0022",
        "Location": "https://fakeaccount.table.core.windows.net/tableClientTestSASConnectionStringnode(PartitionKey=\u0027doubleSci\u0027,RowKey=\u00270\u0027)",
        "Preference-Applied": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/tableClientTestSASConnectionStringnode(PartitionKey=\u0027doubleSci\u0027,RowKey=\u00270\u0027)?sv=2020-08-04\u0026ss=bfqt\u0026srt=sco\u0026sp=rwdlacuptfx\u0026se=2022-09-04T03:03:27Z\u0026st=2021-09-03T19:03:27Z\u0026spr=https\u0026sig=kq7OcqQ80AARZSxGdovmen9lc%2Bvso4Xn3YqscjvMDoM%3D",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272022-01-07T19%3A33%3A13.011615Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccount.table.core.windows.net/$metadata#tableClientTestSASConnectionStringnode/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-01-07T19%3A33%3A13.011615Z\u0027\u0022",
        "PartitionKey": "doubleSci",
        "RowKey": "0",
        "Timestamp": "2022-01-07T19:33:13.011615Z",
        "Value": 1.23456789012346E+24
      }
    }
  ],
  "Variables": {}
}
