{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "SpecialCharacterTestNode"
      },
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "TableAlreadyExists",
          "message": {
            "lang": "en-US",
            "value": "The table specified already exists.\nRequestId:abb3c307-b002-0124-58fd-035ea4000000\nTime:2022-01-07T19:32:10.0664018Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/SpecialCharacterTestNode",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "Prefer": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "foo*",
        "RowKey": "*bar",
        "value": "test*"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://fakeaccount.table.core.windows.net/SpecialCharacterTestNode(PartitionKey=\u0027foo*\u0027,RowKey=\u0027*bar\u0027)",
        "ETag": "W/\u0022datetime\u00272022-01-07T19%3A32%3A10.1513534Z\u0027\u0022",
        "Location": "https://fakeaccount.table.core.windows.net/SpecialCharacterTestNode(PartitionKey=\u0027foo*\u0027,RowKey=\u0027*bar\u0027)",
        "Preference-Applied": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
