{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "batchTableTestTokenCredentialnode"
      },
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "TableAlreadyExists",
          "message": {
            "lang": "en-US",
            "value": "The table specified already exists.\nRequestId:05e61944-c002-00e8-4101-047c44000000\nTime:2022-01-07T19:59:56.7453499Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/batchTableTestTokenCredentialnode(PartitionKey=\u0027\u0027,RowKey=\u0027\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272022-01-07T19%3A59%3A56.915179Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccount.table.core.windows.net/$metadata#batchTableTestTokenCredentialnode/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-01-07T19%3A59%3A56.915179Z\u0027\u0022",
        "PartitionKey": "",
        "RowKey": "",
        "Timestamp": "2022-01-07T19:59:56.915179Z",
        "value": "updated"
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/batchTableTestTokenCredentialnode(PartitionKey=\u0027\u0027,RowKey=\u0027\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272022-01-07T19%3A59%3A57.0920773Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccount.table.core.windows.net/$metadata#batchTableTestTokenCredentialnode/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-01-07T19%3A59%3A57.0920773Z\u0027\u0022",
        "PartitionKey": "",
        "RowKey": "",
        "Timestamp": "2022-01-07T19:59:57.0920773Z",
        "value": "upserted"
      }
    }
  ],
  "Variables": {}
}
