{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "batchTableTestTokenCredentialnode"
      },
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "TableAlreadyExists",
          "message": {
            "lang": "en-US",
            "value": "The table specified already exists.\nRequestId:05e611e8-c002-00e8-2701-047c44000000\nTime:2022-01-07T19:59:53.8719787Z"
          }
        }
      }
    }
  ],
  "Variables": {}
}
