{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "batchTableTestTokenCredentialnode"
      },
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "TableAlreadyExists",
          "message": {
            "lang": "en-US",
            "value": "The table specified already exists.\nRequestId:05e61696-c002-00e8-2b01-047c44000000\nTime:2022-01-07T19:59:55.6689608Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/batchTableTestTokenCredentialnode()?$filter=PartitionKey eq %27multiBatch1%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccount.table.core.windows.net/$metadata#batchTableTestTokenCredentialnode",
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272022-01-07T19%3A59%3A55.7611275Z\u0027\u0022",
            "PartitionKey": "multiBatch1",
            "RowKey": "r1",
            "Timestamp": "2022-01-07T19:59:55.7611275Z",
            "value": "1"
          },
          {
            "odata.etag": "W/\u0022datetime\u00272022-01-07T19%3A59%3A55.7611275Z\u0027\u0022",
            "PartitionKey": "multiBatch1",
            "RowKey": "r2",
            "Timestamp": "2022-01-07T19:59:55.7611275Z",
            "value": "2"
          },
          {
            "odata.etag": "W/\u0022datetime\u00272022-01-07T19%3A59%3A55.7611275Z\u0027\u0022",
            "PartitionKey": "multiBatch1",
            "RowKey": "r3",
            "Timestamp": "2022-01-07T19:59:55.7611275Z",
            "value": "3"
          },
          {
            "odata.etag": "W/\u0022datetime\u00272022-01-07T19%3A59%3A55.9200382Z\u0027\u0022",
            "PartitionKey": "multiBatch1",
            "RowKey": "r4",
            "Timestamp": "2022-01-07T19:59:55.9200382Z",
            "value": "4"
          },
          {
            "odata.etag": "W/\u0022datetime\u00272022-01-07T19%3A59%3A55.9200382Z\u0027\u0022",
            "PartitionKey": "multiBatch1",
            "RowKey": "r5",
            "Timestamp": "2022-01-07T19:59:55.9200382Z",
            "value": "5"
          },
          {
            "odata.etag": "W/\u0022datetime\u00272022-01-07T19%3A59%3A55.9200382Z\u0027\u0022",
            "PartitionKey": "multiBatch1",
            "RowKey": "r6",
            "Timestamp": "2022-01-07T19:59:55.9200382Z",
            "value": "6"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
