{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "batchTableTestTokenCredentialnode"
      },
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "TableAlreadyExists",
          "message": {
            "lang": "en-US",
            "value": "The table specified already exists.\nRequestId:05e60e35-c002-00e8-1501-047c44000000\nTime:2022-01-07T19:59:52.3948161Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/batchTableTestTokenCredentialnode()?$filter=PartitionKey eq %27batchTest%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccount.table.core.windows.net/$metadata#batchTableTestTokenCredentialnode",
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272022-01-07T19%3A59%3A52.5047138Z\u0027\u0022",
            "PartitionKey": "batchTest",
            "RowKey": "1",
            "Timestamp": "2022-01-07T19:59:52.5047138Z",
            "name": "updated"
          },
          {
            "odata.etag": "W/\u0022datetime\u00272022-01-07T19%3A59%3A52.5047138Z\u0027\u0022",
            "PartitionKey": "batchTest",
            "RowKey": "2",
            "Timestamp": "2022-01-07T19:59:52.5047138Z",
            "name": "updated"
          },
          {
            "odata.etag": "W/\u0022datetime\u00272022-01-07T19%3A59%3A52.5047138Z\u0027\u0022",
            "PartitionKey": "batchTest",
            "RowKey": "3",
            "Timestamp": "2022-01-07T19:59:52.5047138Z",
            "name": "updated"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
