{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/tableClientTestSASConnectionStringnode()?sv=2020-08-04\u0026ss=bfqt\u0026srt=sco\u0026sp=rwdlacuptfx\u0026se=2022-09-04T03:03:27Z\u0026st=2021-09-03T19:03:27Z\u0026spr=https\u0026sig=fakeKey\u0026$top=5\u0026$filter=PartitionKey eq %27listEntitiesTest%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-continuation-NextPartitionKey": "1!24!bGlzdEVudGl0aWVzVGVzdA--",
        "x-ms-continuation-NextRowKey": "1!4!MTM-",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccount.table.core.windows.net/$metadata#tableClientTestSASConnectionStringnode",
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272022-01-07T19%3A33%3A04.2493584Z\u0027\u0022",
            "PartitionKey": "listEntitiesTest",
            "RowKey": "0",
            "Timestamp": "2022-01-07T19:33:04.2493584Z",
            "foo": "testEntity"
          },
          {
            "odata.etag": "W/\u0022datetime\u00272022-01-07T19%3A33%3A04.3323106Z\u0027\u0022",
            "PartitionKey": "listEntitiesTest",
            "RowKey": "1",
            "Timestamp": "2022-01-07T19:33:04.3323106Z",
            "foo": "testEntity"
          },
          {
            "odata.etag": "W/\u0022datetime\u00272022-01-07T19%3A33%3A05.0579025Z\u0027\u0022",
            "PartitionKey": "listEntitiesTest",
            "RowKey": "10",
            "Timestamp": "2022-01-07T19:33:05.0579025Z",
            "foo": "testEntity"
          },
          {
            "odata.etag": "W/\u0022datetime\u00272022-01-07T19%3A33%3A05.165841Z\u0027\u0022",
            "PartitionKey": "listEntitiesTest",
            "RowKey": "11",
            "Timestamp": "2022-01-07T19:33:05.165841Z",
            "foo": "testEntity"
          },
          {
            "odata.etag": "W/\u0022datetime\u00272022-01-07T19%3A33%3A05.237801Z\u0027\u0022",
            "PartitionKey": "listEntitiesTest",
            "RowKey": "12",
            "Timestamp": "2022-01-07T19:33:05.237801Z",
            "foo": "testEntity"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/tableClientTestSASConnectionStringnode()?sv=2020-08-04\u0026ss=bfqt\u0026srt=sco\u0026sp=rwdlacuptfx\u0026se=2022-09-04T03:03:27Z\u0026st=2021-09-03T19:03:27Z\u0026spr=https\u0026sig=fakeKey\u0026$top=5\u0026$filter=PartitionKey eq %27listEntitiesTest%27\u0026NextPartitionKey=1!24!bGlzdEVudGl0aWVzVGVzdA--\u0026NextRowKey=1!12!YmluYXJ5MQ--",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccount.table.core.windows.net/$metadata#tableClientTestSASConnectionStringnode",
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272022-01-07T19%3A33%3A04.1624071Z\u0027\u0022",
            "PartitionKey": "listEntitiesTest",
            "RowKey": "binary1",
            "Timestamp": "2022-01-07T19:33:04.1624071Z",
            "foo@odata.type": "Edm.Binary",
            "foo": "QmFy"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
