{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/SpecialCharacterTestNode()?$filter=PartitionKey eq %27foo\u0022%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccount.table.core.windows.net/$metadata#SpecialCharacterTestNode",
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272022-01-07T19%3A30%3A41.4886765Z\u0027\u0022",
            "PartitionKey": "foo\u0022",
            "RowKey": "\u0022bar",
            "Timestamp": "2022-01-07T19:30:41.4886765Z",
            "value": "test\u0022"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
