{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/Tables?sv=2020-08-04\u0026ss=bfqt\u0026srt=sco\u0026sp=rwdlacuptfx\u0026se=2022-09-04T03:03:27Z\u0026st=2021-09-03T19:03:27Z\u0026spr=https\u0026sig=kq7OcqQ80AARZSxGdovmen9lc%2Bvso4Xn3YqscjvMDoM%3D",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccount.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "batchTableTestSASConnectionStringnode"
          },
          {
            "TableName": "batchTableTestTokenCredentialnode"
          },
          {
            "TableName": "byPageTest"
          },
          {
            "TableName": "CreateSimpleEntityBatchPerf"
          },
          {
            "TableName": "createTableNew"
          },
          {
            "TableName": "createTableNew2"
          },
          {
            "TableName": "createTableOld"
          },
          {
   [...]
